/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commun */
.container {
    width: 700px;
    background-color: #DAA520;
    margin: 0 auto;
    padding: 5px;
}
/* /commun */

header {
    background-color: #ADD8E6;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    /* justify-content: space-around;
} */

.logo,
.login {
    display: flex;
    width: 20%;
    border: 1px dashed black;
}
.login {
    display: flex;
    justify-content: right;
}