/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

/* /common */

/* header */
.banner {
    width: 700px;
    background-color: #DAA520;
    margin: 0 auto;
    padding: 5px;
}

header {
    background-color: #ADD8E6;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo,
.login {
    display: flex;
    width: 20%;
    border: 1px dashed black;
}
.login {
    display: flex;
    justify-content: right;
}
/* /header */

/* main */
.first-section {
    background-color: #00008B;
    height: 400px;
    display: flex;
    justify-content: space-around;
}
.box-purple {
    width: 500px;
    height: 300px;
    background-color: #EE82EE;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px dashed black;
}